html, body {
    height: 100vh;
}

/* set the header properties */
#timer-container {
    /* set flex container */

}

#shift-container {
    text-align: center;
    width: 80%;
}

#start-button {
    width: 120px;
}